<div>
    <div>
        <h2 style="display:inline-block">{{compare.name}}</h2>&nbsp;&nbsp;&nbsp;
        <a class="clickable headerIcon" ng-click="showEditModal = true;"><i class="livicon shadowed" data-n="edit" data-s="24" data-c="#666" data-hc="#000" data-onparent="true" title="Edit AB Compare"></i></a>
        <a class="clickable headerIcon" ng-click="runCompare()"><i class="livicon shadowed" data-n="rocket" data-s="24" data-c="#666" data-hc="#000" data-onparent="true" title="Run AB Compare Now"></i></a>
    </div>
    <div class="media {{getResultClass(result)}}" ng-repeat="result in compare.results">
        <a class="media-object pull-left" href="#/compares/{{compare._id}}/results/{{result._id}}">
            <img class="bigThumb" ng-src="{{result.thumbA}}"><img class="bigThumb" ng-src="{{result.thumbB}}">
        </a>
        <div class="media-body">
            <h4 class="media-heading">
                {{formatResultHeader(result)}}
                <span class="viewDiff"><a href="#/compares/{{compare._id}}/results/{{result._id}}" class="clickable"><i class="livicon shadowed" data-n="eye-open" data-s="18" data-c="#666" data-hc="#000" data-onparent="true" title="View Diff"></i></a></span>
            </h4>
            <div class=>Diff: <span class="{{getDistortionClass(result)}}">{{result.distortion}}</span></div>
            <div>{{result.warning}}</div>
        </div>
    </div>
    <div id="editCompare" class="modal hide fade" tabindex="-1" modal="showEditModal" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Edit Compare</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-error" style="display:none">
                There was an error.
            </div>
            <form class="form-horizontal" ng-submit="editcompare(compare)">
                <input id="compare-title" type="text" ng-model="compare.name"
                       placeholder="Identifiable AB Compare Name" required
                       class="input-xxlarge" />
                <input id="compare-urlA" type="text" ng-model="compare.urlA"
                       placeholder="http://app.simplymeasured.com/report/idA" required
                       class="input-xxlarge" />
                <input id="compare-urlB" type="text" ng-model="compare.urlB"
                       placeholder="http://staging.simplymeasured.com/report/idB" required
                       class="input-xxlarge" />
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" ng-click="showEditModal = false" aria-hidden="true">Close</button>
            <button class="btn btn-primary" ng-click="editCompare(compare)">Save AB Compare</button>
        </div>
    </div>
</div>