
<div diff="diff">
    <select id="resultSelector" ng-model="selectedSummary" ng-change="selectResultDiff(selectedSummary)">
        <option ng-repeat="summary in batchResult.reportResultSummaries"
                ng-class="{pass:summary.distortion == 0, fail:summary.distortion != 0}"
                ng-selected="summary.resultDiffId == currentResultDiff.id"
                value="{{summary.resultDiffId}}"
                >{{summary.name}}</option>
    </select>
    &nbsp;&nbsp;
    <a href="{{resultDiff.report.url}}" target="_blank"><i class="icon-external-link-sign" title="View Url"></i></a>
    &nbsp;&nbsp;
    <a class="clickable" id="goPrevLink"><i class="icon-double-angle-left" ></i></a>
    <a class="clickable" id="goNextLink"><i class="icon-double-angle-right"></i></a>
    <script>
        $("#goPrevLink").click(function(){
            $("#resultSelector").prop("selectedIndex", $("#resultSelector").prop("selectedIndex")-1);
            $("#resultSelector").change();
        });
        $("#goNextLink").click(function(){
            $("#resultSelector").prop("selectedIndex", $("#resultSelector").prop("selectedIndex")+1);
            $("#resultSelector").change();
        });
        jwerty.key('j', function(){
            $("#goNextLink").click();
        });
        jwerty.key('k', function(){
            $("#goPrevLink").click();
        });
    </script>

</div>