<div>
    <div class="pull-right">
        <a ng-click="showAddReportsModal()" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> Add Report</a>
    </div>
    <h2>
        {{batch.name}}
        <a class="clickable" ng-click="showEditBatchModal()"><i class="icon-edit" title="Edit Batch"></i></a>
    </h2>
    <div class="row-fluid">
        <div class="span6">
            <h3 style="display:inline">Reports</h3>
            <div class="media" ng-repeat="report in batch.reports">
                <a class="pull-left" href="#">
                    <img class="media-object bigThumb" ng-src="{{ getThumbnail(report) }}">
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><a ng-href="#/reports/{{report._id}}">{{report.name}}</a>
                        <a data-toggle="modal" data-target="#deleteReport" ng-click="removeReport(report._id)" class="clickable"><i class="icon-trash" title="Delete Report"></i></a></h4>
                    <span>Stats</span>
                </div>
            </div>
        </div>
        <div class="span6">
            <h3>Results</h3>
            <div class="media" ng-repeat="result in batch.results">
                <div class="media-body">
                    <h4 class="media-heading"><a href="#/batches/{{batch._id}}/results/{{result._id}}" class="clickable">{{dateFormat(result.end)}}</a></h4>
                    <ol>
                        <li ng-repeat="reportResult in result.reportResultSummaries" class="reportResult">
                            <span class="">{{reportResult.name}}</span>
                            (<span class="{{getReportResultClass(reportResult)}}">{{reportResult.diff}}</span>)
                            <span class="viewDiff"><a href="#/batches/{{batch._id}}/results/{{result._id}}?diffId={{reportResult.diffId}}" class="clickable"><i class="icon-eye-open" title="View Diff"></i></a></span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div id="addReport" class="modal hide fade" tabindex="-1" modal="showAddReport" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Add Report to Batch</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-error" style="display:none">
                There was an error.
            </div>
            <form class="form-horizontal" ng-submit="addReports(selectedReportsToAdd)">
                <select multiple="multiple" ng-model="selectedReportsToAdd" class="input-xxlarge">
                    <option ng-repeat="report in availableReports" value="{{report._id}}">{{report.name}}</option>
                </select>

            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" ng-click="addReports(selectedReportsToAdd)">Add Report</button>
        </div>
    </div>
    <div id="editBatch" class="modal hide fade" tabindex="-1" modal="showEditBatch" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myEditBatchModalLabel">Edit Batch</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-error" style="display:none">
                There was an error.
            </div>
            <form class="form-vertical" ng-submit="editBatch(batch)">
                <input id="batch-title" type="text" ng-model="batch.name"
                       placeholder="Identifiable Batch Name" required
                       class="input-xxlarge" />
                <br/>
                <input id="batch-schedule-enabled" type="checkbox"
                       ng-model="batchScheduleEnabled"/>
                <label for="batch-schedule-enabled">Run at Scheduled Times:</label><br/>
                <fieldset ng-disabled="!batchScheduleEnabled">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-mini" ng-class="{disabled:!batchScheduleEnabled}"
                                ng-model="days.sun" btn-checkbox>Sun</button>
                        <button type="button" class="btn btn-primary btn-mini" ng-class="{disabled:!batchScheduleEnabled}"
                                ng-model="days.mon" btn-checkbox>Mon</button>
                        <button type="button" class="btn btn-primary btn-mini" ng-class="{disabled:!batchScheduleEnabled}"
                                ng-model="days.tues" btn-checkbox>Tues</button>
                        <button type="button" class="btn btn-primary btn-mini" ng-class="{disabled:!batchScheduleEnabled}"
                                ng-model="days.wed" btn-checkbox>Wed</button>
                        <button type="button" class="btn btn-primary btn-mini" ng-class="{disabled:!batchScheduleEnabled}"
                                ng-model="days.thurs" btn-checkbox>Thurs</button>
                        <button type="button" class="btn btn-primary btn-mini" ng-class="{disabled:!batchScheduleEnabled}"
                                ng-model="days.fri" btn-checkbox>Fri</button>
                        <button type="button" class="btn btn-primary btn-mini" ng-class="{disabled:!batchScheduleEnabled}"
                                ng-model="days.sat" btn-checkbox>Sat</button>
                    </div>
                    @
                    <input type="time" class="input-small" style="margin-top: 8px;" ng-model="batchScheduleTime">

                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" ng-click="editBatch(batch)">Save Batch</button>
        </div>
    </div>

</div>
