<div>
    <div class="pull-right">
        <a ng-click="showNewBatchWindow()" class="btn btn-primary"><span class="icon-plus-sign"></span> New Batch</a>
    </div>

    <h1>Batches</h1>
    <div class="media batch" ng-repeat="batch in batches">
        <div class="media-body">
            <h4 class="media-heading"><a href="#/batches/{{batch._id}}">{{batch.name}}</a></h4>
            <ol>
                <li ng-repeat="result in batch.results">
                    <a href="#/batches/{{batch._id}}/results/{{result._id}}">{{dateFormat(result.end)}}</a>
                    <span class="pass">{{result.pass}}</span>/<span class="fail">{{result.fail}}</span>/<span class="exception">{{result.exception}}</span>
                </li>
            </ol>
        </div>
    </div>
    <div id="addBatch" class="modal hide fade" tabindex="-1" modal="showNewBatch" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myEditBatchModalLabel">Add New Batch</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-error" style="display:none">
                There was an error.
            </div>
            <form class="form-horizontal" ng-submit="addBatch(newBatchName, newBatchReportIds)">
                <input id="report-title" type="text" ng-model="newBatchName"
                       placeholder="Identifiable Batch Name" required
                       class="input-xxlarge" />
                <select multiple="multiple" ng-model="newBatchReportIds" class="input-xxlarge">
                    <option ng-repeat="report in availableReports" value="{{report._id}}">{{report.name}}</option>
                </select>
                <input id="batch-schedule-enabled" type="checkbox"
                       ng-model="batchScheduleEnabled"/>
                <label for="batch-schedule-enabled">Run at Scheduled Times:</label><br/>
                <fieldset ng-disabled="!batchScheduleEnabled">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-mini" ng-class="{disabled:!batchScheduleEnabled}"
                                ng-model="days.sun" btn-checkbox>Sun</button>
                        <button type="button" class="btn btn-primary btn-mini" ng-class="{disabled:!batchScheduleEnabled}"
                                ng-model="days.mon" btn-checkbox>Mon</button>
                        <button type="button" class="btn btn-primary btn-mini" ng-class="{disabled:!batchScheduleEnabled}"
                                ng-model="days.tues" btn-checkbox>Tues</button>
                        <button type="button" class="btn btn-primary btn-mini" ng-class="{disabled:!batchScheduleEnabled}"
                                ng-model="days.wed" btn-checkbox>Wed</button>
                        <button type="button" class="btn btn-primary btn-mini" ng-class="{disabled:!batchScheduleEnabled}"
                                ng-model="days.thurs" btn-checkbox>Thurs</button>
                        <button type="button" class="btn btn-primary btn-mini" ng-class="{disabled:!batchScheduleEnabled}"
                                ng-model="days.fri" btn-checkbox>Fri</button>
                        <button type="button" class="btn btn-primary btn-mini" ng-class="{disabled:!batchScheduleEnabled}"
                                ng-model="days.sat" btn-checkbox>Sat</button>
                    </div>
                    @
                    <input type="time" class="input-small" style="margin-top: 8px;" ng-model="batchScheduleTime">

            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" ng-click="showNewBatch = false" aria-hidden="true">Close</button>
            <button class="btn btn-primary" ng-click="addBatch(newBatchName, newBatchReportIds)">Add Batch</button>
        </div>
    </div>
</div>